<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="stockblooms" routerLinkActive="active">Stock Blooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="blockchainblooms" routerLinkActive="active">Blockchain Blooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="sportblooms" routerLinkActive="active" >Sports Blooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  routerLink="entertblooms" routerLinkActive="active" >Entertainment Blooms</a>
    </li>
  </ul>
 

  <div class="container">
    <router-outlet></router-outlet>
   </div>